%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
  [
    {parse_transform, lager_transform},
    {lager_truncation_size, 256}
  ]
}.

{deps,
  [
    {reloader, ".*", {git, "https://github.com/oinksoft/reloader.git", {tag, "master"}}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "d65b91a6"}}},
    {cpg, ".*", {git, "https://github.com/okeuday/cpg.git", {tag, "f193285e"}}},
    {ranch, ".*", {git, "https://github.com/extend/ranch.git", {tag, "723f1b18"}}},
    {cowboy, ",*", {git, "https://github.com/extend/cowboy.git", {tag, "eb4843a4"}}},
    {uuid, ".*", {git, "https://github.com/okeuday/uuid.git", {tag, "00343901"}}},
    {base32, ".*", {git, "https://github.com/andrewtj/base32_erlang.git", {tag, "40431a74"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "a571665c"}}},
    {bson, ".*", {git, "https://github.com/mongodb/bson-erlang.git", {tag, "6d3cc910"}}},
    {chaos_monkey, ".*", {git, "https://github.com/dLuna/chaos_monkey.git", {tag, "4bd3700f"}}}
  ]
}.

{cover_enabled, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{ct_use_short_names, true}.
{ct_extra_params, ""}.
