%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
  [
    {parse_transform, lager_transform},
    {lager_truncation_size, 256}
  ]
}.

{deps,
  [
    %% {reloader, ".*",
    %%  {git, "https://github.com/oinksoft/reloader.git", {branch, "master"}}},
    {lager, ".*",
     {git, "https://github.com/basho/lager.git", {branch, "master"}}},
    {cpg, ".*",
     {git, "https://github.com/okeuday/cpg.git", {branch, "master"}}},
    %% {ranch, ".*",
    %%  {git, "https://github.com/extend/ranch.git", {branch, "master"}}},
    {cowboy, ",*",
     {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
    {uuid, ".*",
     {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
    {base32, ".*",
     {git, "https://github.com/andrewtj/base32_erlang.git", {branch, "master"}}},
    {jsx, ".*",
     {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
    {bson, ".*",
     {git, "https://github.com/mongodb/bson-erlang.git", {branch, "master"}}},
    {chaos_monkey, ".*",
     {git, "https://github.com/dLuna/chaos_monkey.git", {branch, "master"}}}
  ]
}.

{cover_enabled, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{ct_use_short_names, true}.
{ct_extra_params, ""}.
